@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

* {
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/games/gam-6/gam505.cur), auto !important;
}

html {
    min-height: 100vh;
}


/* Background image of the game */

body {
    background-image: url(../photos/megamanwallpaper3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
}

/* Timer, Number of Flips, Mute/Unmute, Restart Buttons */
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.memory-game-info {
    background: linear-gradient(to left, #01017c,#c01818);
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Card grid */

.memory-game-content {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 1rem;
    margin: 4rem;
    justify-content: center;
    perspective: 50rem;
}

.card {
    background-color: #01017c;
    height: 16rem;
    width: 10rem;
}

/* End of Card grid */

.front-character-card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 1.2rem;
    border-width: 0.1rem;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

/* Card Effects */
.card.show .rear-side-card {
    transform: rotateY(-180deg);
}

.card.show .front-side-card {
    transform: rotateY(0);
}

.card.matched .megaman-character {
    animation: dance 2s linear infinite 600ms;
}

/* Text overlay before game starts, when you win, or lose */
.text-theme {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #000;
    font-size: 40rem;
    font-family: 'Press Start 2P', cursive;
}

.text-theme-small {
    font-size: 2rem;
    animation: blinkingText 1.5s infinite;
}

.text-theme.show {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    background-image: url(../photos/megamanwallpaper3.png);
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(192, 24, 24, .8);
        font-size: 3.5rem;
    }
}

/* Characters dance when there's a match */

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}


/* Blinking Text to suggest user to start game or restart game when they win or lose  */

@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #fff; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: #fff;    }
}


/* Back and Front of the Card Game */
.rear-side-card {
    background-color: #edc99f;
    border-color: #909090;
}

.rear-side-card:hover .helmet {
    width: 4.5rem;
    height: 4.5rem;
}

.front-side-card {
    background-color: #fff;
    border-color: #909090;
    transform: rotateY(180deg);
}
.megaman-character {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
    height: 9rem;
    width: 9rem;
}

.front-side-card:hover .megaman-character {
    transform: scale(1);
}

.helmet {
    position: absolute;
    width: 10rem;
    height: 10rem;
}

@media (max-width: 37.5rem) {
    .memory-game-content {
        grid-template-columns: repeat(3,auto);
        margin: 2rem;
        padding-left: 3.5rem;
    }

    .game-info-container {
        grid-column: 1 / -1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        background-color: #01017c;
        height: 10rem;
        width: 8rem;
        justify-content: center;
    }

    .text-theme {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        bottom:0;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 100;
        font-size: 3rem;
    }

    .text-theme-small {
        font-size: 1.5rem;
        text-align: center;
        animation: blinkingText 1.5s infinite;
    }

}






